@page
@model Shop.UI.Pages.Admin.Index

@{
}

<div id="app">
    <button v-on:click="getProducts">Get Products</button>
    <div>
        <p v-for="product in products">
            {{product.id}} - {{product.name}} - {{product.price}}
            <button @@click="editProduct(product)">Edit</button>
            <button @@click="deleteProduct(product.id)">Remove</button>
        </p>
    </div>

    <div>
        <input v-model="productModel.name"/>
        <input v-model="productModel.description"/>
        <input v-model="productModel.price"/>
        <button type="submit" @@click="createProduct" v-if="!productModel.id">Create Product</button>
        <button type="submit" @@click="updateProduct" v-else>Update Product</button>
    </div>
</div>

@section Scripts
{
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="~/js/admin/main.js"></script>
}